#supreme {
    background-color: #ffc107;
}

.top-link {
    color: #fff3cd;
    margin-right: 30px;
}

#siteLogo {
    width: 70px;
    height: 70px;
}

h4 {background-color: #721c24}

#siteTitle {
    font-size: 40px;
    color: #fff3cd;
}

#siteNavigation {
    background: #fff3cd;
}

a.nav-link {
    color: #000000;
}

#LoginRegister {
    font-size: 20px;
    color: #fff3cd;
    text-align: right;
    justify-content: end;
    padding-right: 25px;
}

